#{extends 'main.html'/} 

#{if mode == "myProfile"} 
#{set title:'My Profile'/} 
#{/if} 

#{else} 
#{set title:'view Profile'/}
#{/else}


<style type="text/css">
#my_profile_left_div {
	border: 1px solid #A9C9E2;
	width: 150px;
	position: relative;
	top: 10px;
	float: left;
}

#my_profile_middle_div {
	border: 1px solid #A90000;
	width: 380px;
	position: relative;
	top: 10px;
	float: left;
}

#my_profile_right_div {
	border: 1px solid #F9B3D5;
	width: 400px;
	float: left;
	position: relative;
	top: 10px;
}

.userimage {
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}

input.r {
	border: 1px solid #fff;
}

input.w {
	border: 1px solid #369;
}
</style>


<div id="my_profile_left_div">
	#{if mode == "viewProfile"}
	<h3>${user.fullname}</h3>
	<input type="image" id="userimage" class="userimage"
		src="@{RequestUtils.renderImage(user.image.id)}" alt="Edit Pic" /> <br>
	<br>
	<div class="follow">
		<button id="follow">Follow ${user.fullname}</button>

		<input id="followed" value="Followed ${user.fullname}" readonly>
		<button class="unfollow" style="display: none;">Unfollow
			${user.fullname}</button>
	</div>

	#{/if} #{form @MyProfile.submit(), enctype:"multipart/form-data"} #{if
	mode == "myProfile"}
	<h3>${user.fullname}</h3>
	<br> <img id="userimage" class="userimage"
		src="@{RequestUtils.renderImage(user.image.id)}" alt="Edit Pic" /> <input
		type="file" id="photo" class="photo" name="photoData"
		style="display: none;" /> <br>


	<h3>Followed</h3>
	#{list items:user.followed, as:'followed'}
	<div class="followed">
		<h2 class="myfollowed-fullname">
			<a href="@{ViewProfile.page(followed.id)}">${followed.fullname}</a>
		</h2>
		<div>
			<img class="userimage"
				src="@{RequestUtils.renderImage(followed.image.id)}">

		</div>
		<a href="@{ViewProfile.page(followed.id)}">more</a>
	</div>
	#{/list} #{/if}
</div>



<div id="my_profile_middle_div">
	<h3>User's info:</h3>

	<p class="edit">
		Name: <input class="r" name="fullname" value="${user.fullname}"
			readonly />
	</p>
	<br>
	<p class="edit">
		gender: <input class="r" name="gender" value="${user.gender}" readonly />
	</p>
	<br>
	<p class="edit">
		birthday: <input class="r" name="birthday" value="${user.birthday} "
			readonly />
	</p>
	<br>
	<p class="edit">
		location: <input class="r" name="city" value="${user.city}" readonly />
	</p>
	<br>
	<p class="edit">
		religion: <input class="r" name="religion" value="${user.religion}"
			readonly />
	</p>
	<br> <input class="w" type="submit" value="save"
		style="display: none;" /> #{/form} <br> <br> #{if mode ==
	"myProfile"}
	<h3>My tags:</h3>
	<br> <label for="add_tag_input">Tags: </label> <input type="text"
		name="tag" id="add_tag_input" />
	<!-- 	        
	        <input type="text" name="tags" id="tags"  style="display: none;" />
	         -->
	<button id="add_tag_button">Add Tag</button>
	<button id="del_tag_button" style="display: none;">Del Tag</button>
	<div id="added_tags_div">
		<br> #{list items:user.tags, as:'tag'}
		<div class="mytags">
			<div class="tag">${tag}</div>
		</div>
		#{/list}

	</div>

	#{/if} #{if mode == "viewProfile"}
	<h3>${user.fullname} 's tags:</h3>
	<br> #{list items:user.tags, as:'tag'}
	<div class="tag">
		<div class="mytags">${tag}</div>
	</div>
	#{/list} #{/if}
</div>

