#{extends 'main.html'/}

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/viewPost.css'}">
#{/set}

<script>
	var newPostAddTagCounter = 0;
	var newPostScope = {};
	newPostScope.tags = {};
	
	$(function() {
	   initialize();
	});
	

	function deleteImage(elementId, idx){
		$("#" + elementId).remove();
		$("#delete_images_hidden_input").val($("#delete_images_hidden_input").val() + ";" + idx);		
	}
	
	//initlaize map
    function initialize() {
    	  newPostScope.mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        newPostScope.map = new google.maps.Map(document.getElementById("newpost-map-canvas"),
        		newPostScope.mapOptions);
        
        newPostScope.geocoder = new google.maps.Geocoder();
        
        newPostScope.address = "";
        
        #{if post.mapLocation}
        newPostScope.address = "${post.mapLocation.address.raw()}";
	        #{if post.mapLocation.latitude}
	        setMarkerAt(new google.maps.LatLng(${post.mapLocation.latitude.raw()}, ${post.mapLocation.longitude.raw()}));
        	#{/if}
       	#{/if}
        
        //map click callback
        google.maps.event.addListener(newPostScope.map, 'click', function(event) {
        	
        	newPostScope.map.panTo(event.latLng);
        	setMarkerAt(event.latLng);
        });
        
        function setMarkerAt(location){
   	    	newPostScope.map.setCenter(location);
   	    	if(newPostScope.marker){
   	    		newPostScope.marker.setPosition(location);
   	    	}
   	    	else{
	   	        newPostScope.marker = new google.maps.Marker({
	   	            map: newPostScope.map,
	   	            position: location
	   	        });
   	    	}

   	     	newPostScope.map.setZoom(16);
   	     	$("#location_latitude_hidden_input").val(newPostScope.map.getCenter().lat());
   	     	$("#location_longitude_hidden_input").val(newPostScope.map.getCenter().lng());
        }
      }
    </script>



<div id="view_post_div" class="center">
	<div id="view_post_left_div" >

	    <div class="info">
	        <label for="title_input">Title: </label>
	        ${post?.title}
	    </div>
	    
	    #{if mode == "event"} 
	    <div class="info">
	        <label for="address_input">Address: </label>
	        ${post?.mapLocation?.address}
	        <div id="new_post_right_div" >
    			<div id="newpost-map-canvas" style="height:150px;width:100%"></div>
	 		</div>
	    </div>
	    #{/if}
	    
	    <div class="info">
	        <label for="description_input">PostContent: </label>
	        <div>${post?.postContent.raw()}</div>
	    </div>
	    
        #{if post.content} 
	    <div class="info">
	    	<label for="pictures_input">Pictures: </label>
	        #{list items:post.content.pictures, as:'pic'}
		        <a href="@{RequestUtils.renderImage(pic.id)}"  target="_new">
		        	  <img src="@{RequestUtils.renderImage(pic.id)}" class='postImage'>
	        	</a>
	        #{/list}
	    </div>
	    

	    	#{if post}
	        	#{if post.content.video}
	    			${post.content.video.raw()}
				#{/if}
	    	#{/if}
	    #{/if}
	    <input type="text" name="locationLongitude" id="location_longitude_hidden_input" class="hidden_input" hidden/>
	    <input type="text" name="locationLatitude" id="location_latitude_hidden_input" class="hidden_input"hidden/>
	    <input type="text" name="tags" id="tags_hidden_input" class="hidden_input"hidden/>
     	<input type="text" name="postId" id="post_hidden_input" class="hidden_input" value="${post?.id}" hidden/>
     	<input type="text" name="deleteImages" id="delete_images_hidden_input" class="hidden_input" hidden/>
     	
        #{if mode == "event"} 
        	<input type="submit" class="btn btn-primary" id="comment_button_input" name="join" value="我要参加"/>
     	#{/if}	
     </div>
     
     
     
     
     <div id="comments_div">
		<label>Comments:</label>
			#{list items:post.comments, as:'comment'}
			<div class="comments_content">
				<b>Comment from:</b> #{if comment.sender} ${comment.sender.email.raw()} #{/if} <br>
				<b>Comment:</b> ${comment.text.raw()}<br>
				<b>Rating:</b> ${comment.rating.raw()}<br>
			</div>
			<br>	
			#{/list}
			
			#{form @ViewPost.postComment(post.id)}
				<textarea name="commentText" placeholder="Add comment..." id="comment_text_input" cols="90" rows="5"></textarea>
				<label for="rating_select">Rating</label>
				<select name="commentRating" id="rating_select">
					<option value="5">5</option>
					<option value="4">4</option>
					<option value="3">3</option>
					<option value="2">2</option>
					<option value="1">1</option>
				</select>
				<input type="submit" class="btn btn-primary" id="comment_button_input" name="postComment" value="Comment"/>
			#{/form}
		</div>
		
    	<div class="box" class="content">
		<h2>Comments</h2>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  /**
		    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		    */
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://elsewhere.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		
 	</div>
		
		
	

</div>