#{extends 'main.html'/} 

#{if mode == "myProfile"} 
#{set title:'My Profile'/} 
#{/if} 

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/myProfile.css'}">
#{/set}

<script>
var profileScope = {};
var profileAddTagCounter = 0;
var display = false;

$(function() {      
   initialize();
});

function initialize() {
	profileScope.mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
	profileScope.map = new google.maps.Map(document.getElementById("profile-map-canvas"),
											profileScope.mapOptions);

	profileScope.tags = {};

	setMarkers();
}

//setMarkerPosition
function setMarkerPosition(lat, lng){
	var location = new google.maps.LatLng(lat, lng);

   	profileScope.map.panTo(location);
   	profileScope.map.setZoom(16);
   	
	profileScope.marker = new google.maps.Marker({
         map: profileScope.map,
         position: location
     });
}

//Add all markers related to the current user to the map
function setMarkers(){
		  #{list items:user.events, as:'myPost'}
		    #{if myPost.mapLocation}
			var lati = ${myPost.mapLocation.latitude} ;
		    var longi = ${myPost.mapLocation.longitude} ;

			var location = new google.maps.LatLng(lati, longi);
			profileScope.map.panTo(location);
			profileScope.map.setZoom(1);		  

		   	var position = new google.maps.LatLng(lati, longi);
			var marker = new google.maps.Marker({
		      position: position,
		      map: profileScope.map
		    });
			#{/if}
		  #{/list}
}

function iconSelected(input) {
	if (input.files && input.files[0]) {
    	var reader = new FileReader();
		var imgData;
        reader.onload = function (e) {
        	imgData = e.target.result;
        	$('#img')
            	.attr('src', imgData)
            	.width(160)
            	.height(160);
        	
        };
        reader.readAsDataURL(input.files[0]);
    }
}

function passwordBoxDisplay() {
	if (display) {
		document.getElementById('changePasswordBox').style.visibility='hidden';
		display = false;
	} else {
		document.getElementById('changePasswordBox').style.visibility='visible';
		display = true;
	}
}


$(function(){
	$("#profileIcon").click(function(){
        $(this).next().trigger('click');
        var $elie = $("#profileIcon"), degree = 0, timer;
        rotate();
        function rotate() {
        	if(degree < 720){
            	$elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)'});  
           		$elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)'});                      
            	timer = setTimeout(function() {
                	++degree; rotate();
            	},1);
        	}
        }
    });
});
    
</script>

#{else} 
#{set title:'view Profile'/}
#{/else}

#{form @MyProfile.submit(), enctype:"multipart/form-data", role:"form", class:"otherProfile"}
  	<div class="form-group profileData" onmousemove="document.getElementById('fullname').disabled=false" onmouseout="document.getElementById('fullname').disabled=true">
    	<label for="fullname" style="margin-top:50px;">Fullname</label>
    	<input type="text" name="fullname" class="form-control" id="fullname" placeholder="fullname" value="${user.fullname}" disabled/>
  	</div>
  	<div class="form-group profileData">
    	<label class="radio-inline">
    		<input type="radio" name="gender" id="inlineRadio1" checked>Male
    	</label>
    	<label class="radio-inline">
    		<input type="radio" name="gender" id="inlineRadio1" >Female
    	</label>
  	</div>
  	<div class="form-group profileData">
    	<label for="country">Country</label>
    	<input type="text" name="country" class="form-control" id="country" placeholder="country">
  	</div>
  	<div class="form-group profileData">
    	<label for="religion">Religion</label>
    	<input type="text" name="religion" class="form-control" id="religion" placeholder="religion">
  	</div>
  	<div class="form-group profileData">
    	<label for="address">Address</label>
    	<input type="text" name="address" class="form-control" id="address" placeholder="address" value="${user.address}">
  	</div>
  	<div class="form-group profileData input-append date">
    	<label for="birthday">Birthday</label>
    	<input type="text" name="birthday" class="form-control" id="datepicker" placeholder="birthday">
  	</div>
  	<button type="submit" class="btn btn-primary newPasswordSubmit">Submit</button>
#{/form}

<div class="middle">
	<div class="layoutContainer">
		<div id="profileIcon" >
			<img id="img" src="#" />
		</div>
		<input id="updateFile" name="file" type="file" accept="image/*" onchange="iconSelected(this)"/ >
	</div>
	
	<div id="eventsMap" >
		<div id="profile-map-canvas" style="height: 350px; width: 100%">
		</div>
		<div id="myPostList">
		#{list items:user.events, as:'myPost'}
			<div class="post">
				<h2 class="post-title"
				#{if myPost.mapLocation}
					onmouseover="setMarkerPosition(${myPost.mapLocation.latitude}, ${myPost.mapLocation.longitude})">
					<a href="@{ViewPost.page(myPost.id)}">${myPost.title}</a>
				#{/if}
				</h2>
				<div class="post-metadata">
					<span class="post-desc"> ${myPost.description} </span> <span class="post-date"> </span>
				</div>
			</div>
		#{/list}
		</div>
	</div>
</div>

#{form @MyProfile.submit(), enctype:"multipart/form-data", role:"form", class:"keyProfile"}
	<div class="form-group profileData">
		<label for="cssaID" style="margin-top:50px;">CSSA Id</label>
		<input type="text" class="form-control" id="cssaID" disabled/>
	</div>
	<div class="changePasswordButton" onclick="passwordBoxDisplay()">
		Password change <span class="glyphicon glyphicon-align-justify"></span>
	</div>
	
	<div id="changePasswordBox">
	  	<div class="form-group profileData">
	    	<label for="oldPassword">Old password</label>
	   	 	<input type="password" class="form-control" id="oldPassword" placeholder="Enter old password" >
	  	</div>
	  	<div class="form-group profileData">
	    	<label for="newPassword1">New password</label>
	    	<input type="password" class="form-control" id="newPassword1" placeholder="Enter new password">
	  	</div>
	  	<div class="form-group profileData ">
	    	<label for="newPassword2">Confirm password</label>
	    	<input type="password" class="form-control" id="newPassword2" placeholder="Confirm new Password">
	  	</div>
	  	
	  	<button type="submit" class="btn btn-primary newPasswordSubmit">Submit</button>
  	</div>
#{/form}

