#{extends 'Admin/index.html' /}
<h1 class="page-header">所有文件</h1>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>文件名</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		#{if list.size != 0}
		#{list items:0..list.size-1, as:'i' }
	        <tr>
	        	<td>${i+1}</td>
				<td>${list.get(i).fileName}</td>
				<td>
					<a href="/Admin/deleteFile?fileId=${list.get(i).getId()}">删除</a>
				</td>
			</tr>
	    #{/list}
	    #{/if}
			
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-sm-6 col-md-offset-4">
	<div id="myPagination"></div>
	</div>
</div>
<script>
pagination.create("myPagination",{
	"controller":"allFiles",
	"pageTotal":${pageTotal},
	"pageEach":5,
	"page":${page},
	"size":${size}
});

/*
// get pagination elements
var pagination = document.getElementsByClassName("pagination")[0];
var elements = pagination.getElementsByClassName("p");

// calculate the first number
var firstNumber = ${page} - (${page} -1) % 5;

// mark the current page as active
for(var i = 0;i < elements.length; i++){
	elements[i].outerHTML = "<li class='p'><a class='number' href='allPosts?size=10&page="+firstNumber+"'>"+firstNumber+"</a></li>";
	var currentPN = elements[i].getElementsByClassName("number")[0].innerHTML;
	if(currentPN == "${page}"){
		elements[i].outerHTML = "<li class='p active'><a class='number'>" + currentPN + "</a></li>";
	}	
	firstNumber++;
}

</script>