<!DOCTYPE html>

<html>
<head>
<title>CSSA admin login</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/admin.css'}">
#{get 'moreStyles' /}
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}

<!-- Bootstrap -->
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.min.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap-theme.min.css'}">
</head>
<body>
	Welcome to admin
</body>
</html>
