#{extends 'Admin/index.html' /}
<h1 class="page-header">活动管理</h1>
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>报名管理</h1>
        <p>可以手动报名，群发确认信，或者设置自动群发</p>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h2>已确认</h2>
          <p>这里是已经确认参加的用户</p>
          <p><a class="btn btn-default" href="#" role="button">详情 »</a></p>
        </div><!--/span-->
        <div class="col-xs-6">
          <h2>等待队列</h2>
          <p>这里是还在等待队列的用户</p>
          <p><a class="btn btn-default" href="#" role="button">详情 »</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->

  </div><!--/row-->

  <hr>

</div>