#{extends 'Admin/index.html' /}
<h1 class="page-header">上传文件</h1>

#{form @uploadFile(), enctype:'multipart/form-data'}
 	<div class="form-group">
   		<label for="exampleInputEmail1">下载限制</label>
   		<select id="fileType" name="fileType" class="form-control">
  			<option value="anyone">任何人</option>
  			<option value="memberOnly">仅限会员</option>
		</select>
	</div>
 	<br>
 	<input id="upload" name="upload" type="file" />
 	<br>
 	<button type="submit" class="btn btn-default">保存</button>
#{/form}



