#{extends 'main.html'/}
#{set title:'View Post'/}


<style type="text/css">
/* 
#view_post_left_div {
	border: 1px solid #A9C9E2;
	width: 150px;
	position: relative;
	top: 10px;
	float: left; */
	
	.center{
	font:italic arial,sans-serif;
	font-size:16px;
	margin:auto;
	width:70%;
	#background-color:#51629e;
	}
}
</style>


<script>
	var newPostAddTagCounter = 0;
	var newPostScope = {};
	newPostScope.tags = {};
	
	$(function() {
	   initialize();
	});
	

	function deleteImage(elementId, idx){
		$("#" + elementId).remove();
		$("#delete_images_hidden_input").val($("#delete_images_hidden_input").val() + ";" + idx);		
	}
	
	//initlaize map
    function initialize() {
    	  newPostScope.mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        newPostScope.map = new google.maps.Map(document.getElementById("newpost-map-canvas"),
        		newPostScope.mapOptions);
        
        newPostScope.geocoder = new google.maps.Geocoder();
        
        newPostScope.address = "";
        
        #{if post.mapLocation}
        newPostScope.address = "${post.mapLocation.address.raw()}";
	        #{if post.mapLocation.latitude}
	        setMarkerAt(new google.maps.LatLng(${post.mapLocation.latitude.raw()}, ${post.mapLocation.longitude.raw()}));
        	#{/if}
       	#{/if}
        
        //map click callback
        google.maps.event.addListener(newPostScope.map, 'click', function(event) {
        	
        	newPostScope.map.panTo(event.latLng);
        	setMarkerAt(event.latLng);
        });
        
        function setMarkerAt(location){
   	    	newPostScope.map.setCenter(location);
   	    	if(newPostScope.marker){
   	    		newPostScope.marker.setPosition(location);
   	    	}
   	    	else{
	   	        newPostScope.marker = new google.maps.Marker({
	   	            map: newPostScope.map,
	   	            position: location
	   	        });
   	    	}

   	     	newPostScope.map.setZoom(16);
   	     	$("#location_latitude_hidden_input").val(newPostScope.map.getCenter().lat());
   	     	$("#location_longitude_hidden_input").val(newPostScope.map.getCenter().lng());
        }
      }
    </script>






<div id="view_post_div" class="center">
	<div id="view_post_left_div" >

	    <p>
	        <label for="title_input">Title: </label>
	        ${post?.title}
	    </p>
	    
	    <p>
	        <label for="address_input">Address: </label>
	        ${post?.mapLocation?.address}
	    </p>
	    
	        <label for="description_input">PostContent: </label>
	        ${post?.postContent.raw()}
	    
        #{if post.content} 
	    <p>
	        #{list items:post.content.pictures, as:'pic'}
		        <a href="@{RequestUtils.renderImage(pic.id)}"  target="_new">
		        	  <img src="@{RequestUtils.renderImage(pic.id)}" class='postImage'>
	        	</a>
	        #{/list}
	    </p>
	    

	    	#{if post}
	        	#{if post.content.video}
	    			${post.content.video.raw()}
				#{/if}
	    	#{/if}
	    #{/if}
	    <input type="text" name="locationLongitude" id="location_longitude_hidden_input" class="hidden_input" hidden/>
	    <input type="text" name="locationLatitude" id="location_latitude_hidden_input" class="hidden_input"hidden/>
	    <input type="text" name="tags" id="tags_hidden_input" class="hidden_input"hidden/>
     	<input type="text" name="postId" id="post_hidden_input" class="hidden_input" value="${post?.id}" hidden/>
     	<input type="text" name="deleteImages" id="delete_images_hidden_input" class="hidden_input" hidden/>	
     </div>
     
     <div id="new_post_right_div" >
    		<div id="newpost-map-canvas" style="height:386px;width:386px"></div>
	 </div>
     
     
     
     <div id="comments_div">
        <br>
	    <br>
		<b>Comments:</b> <br>
			#{list items:post.comments, as:'comment'}
			
				Comment sent by: #{if comment.sender} ${comment.sender.email.raw()} #{/if} <br>
				Comment: ${comment.text.raw()}<br>
				Rating: ${comment.rating.raw()}<br>
			<br>	
			#{/list}
			
			#{form @ViewPost.postComment(post.id)}
				<label for="comment_text_input">Add Comment</label>
				<input type="text" id="comment_text_input" name="commentText"/><br>
				<label for="rating_select">Rating</label>
				<select name="commentRating" id="rating_select">
					<option value="5">5</option>
					<option value="4">4</option>
					<option value="3">3</option>
					<option value="2">2</option>
					<option value="1">1</option>
				</select>
				<input type="submit" id="comment_button_input" name="postComment" value="Post Comment"/>
			#{/form}
		</div>
		
    	<div class="box" class="content">
		<h2>Comments</h2>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  /**
		    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		    */
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://elsewhere.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		
 	</div>
		
		
		
		

		


	

</div>