*{
	font-family: Arial, "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;	
}
body{
	background: #f0f0f0;
	min-width:900px;
	background-color: #f2f2f2;
	background-image: url('/public/images/noise.jpg');
}

.reset-password {
float: right;
}

.thumbnail>img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: 270px;
}

.inner-col {
max-width: 960px;
position: relative;
width: 1024px;
margin: 0 auto;
}


* {
	margin: 0;
	padding: 0;
}


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.topbar {
	background: white;
	font-size: 15px;
	border-bottom: 1px solid #d9dadc;
	/* border-radius: 5px; */
	font-weight: bold;
	min-width:1024px;
}


.middle {
	border: 0;
	padding: 30px;
}

.slides_container {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 0px;
	padding-top: 15px;
}

.block_container {
	width: 1024px;
	padding-bottom: 50px;
	margin: 0 auto;
	position: relative;
}

.partner_container {
	width: 900px;
	margin: 0 auto;
	position: relative;
 }
 
.partner_container .china{
	max-height: 100%;
	width: auto;
	margin-left: 50px;
}

.partner_container .kaiyuan{
	max-width: 100%;
	height: auto;
	margin-top: 20px;
}

.partner_container .gerig{
	max-width: 100%;
	height: auto;
}

.partner_container .kksim{
	max-height: 100%;
	width: auto;
	margin-left: 40px;
}

.partner_container .epi{
	max-width: 100%;
	height: auto;
}

.partner_container .tumi{
	width: auto;
	max-height: 100%;
	margin-left: 40px;
}

.partner_container .tutoria{
	max-width: 100%;
	height: auto;
}

.partner_container .dcgm{
	width: auto;
	max-height: 100%;
	margin-left: 20px;
}

.partner_container span{
	font-size: 18px;
	text-align: center;
	display: block;
}

.col-md-3{
	margin-top: 0px;	
}


.nail {
	width:340px;
	height:400px
	float:left;
}

.nailleft {
	width:340px;
	height:400px
	float:left;
	padding-left:0;
}

.nailright {
	width:340px;
	height:400px
	float:left;
	padding-right:0;
}


#focus {
	width: 1024px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#focus ul {
	height: 380px;
	position: absolute;
}


#focus ul li {
	float: left;
	width: 1024px;
	height: 300px;
	overflow: hidden;
	position: relative;
	background: #000;
}

#focus ul li div {
	position: absolute;
	overflow: hidden;
}

#focus .btnBg {
	position: absolute;
	width: 1024px;
	height: 20px;
	left: 0;
	bottom: 0;
	background: #000;
}

#focus .btn {
	position: absolute;
	width: 1004px;
	height: 26px;
	padding: 5px 10px;
	right: 0;
	bottom: 0;
	text-align: right;
}

#focus .btn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 25px;
	height: 10px;
	_font-size: 0;
	margin-left: 5px;
	cursor: pointer;
	background: #fff;
}

#focus .btn span.on {
	background: #fff;
}

#focus .preNext {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 90px;
	background: url(/public/images/sprite.png) no-repeat 0 0;
	cursor: pointer;
}

#focus .pre {
	left: 0;
}

#focus .next {
	right: 0;
	background-position: right top;
}

.thumbnail h3 {
	margin-top:0;	
	margin-bottom:0;	
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #428bca;
}



.footer {
	min-width:1024px;
	height: 242px;
	background-color: #428bca;
	margin: 0 auto;
}

#reference {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding-top: 14px;
	padding-left: 20px;
}


#row {
	float: left;
	width: 250px;
	margin-right: 20px;
	padding-top: 15px;
	margin-left: 56px;
}

#row p {
	font-size: 30px;
}

.footer li {
	font-size: 16px;
	color: white;
}

.footer a {
	color: white;
}

.footer p {
	font-size: 20px;
	color: white;
}

.row h3 {
	color: #FFFFFFF;
}


#loginForm {
	opacity:0.9;
	border: solid 1px #cccccc;
	border-radius: 5px;
	display: none;
	padding: 15px 15px 15px 5px;
	margin: 0 auto;
	position: absolute;
	right: 0.2%;
	top: 73px;
	width: 360px;
	height: 205px;
	background: #ffffff;
}

#loginForm label {
	font-size: 15px;
}

#registerForm {
	opacity:0.9;
	border: solid 1px #cccccc;
	border-radius: 5px;
	display: none;
	padding: 15px 15px 15px 5px;
	position: absolute;
	right: 0.2%;
	top: 73px;
	width: 375px;
	height: 210px;
	background: white;
}

#registerForm label {
	font-size: 15px;
}

.dis {
	margin-left: 90px;
}


.Alert {
	opacity:0.9;
	border: solid 1px #cccccc;
	border-radius: 5px;
	position: absolute;
	left: 41%;
	top: 153px;
	width: 262px;
	height: 120px;
	background: white;
}

.alertMessage {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
	font-weight: bold;
	color: #428bca;	
}

.returnAlert {
	margin-top: 10px;
	margin-left: 102px;
}

.wrap{
	max-width: 977px;
	width: 100%;
	height: 380px;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.content-top{
	padding: 5% 0 5% 0;
}
.col_1_of_3{
	display: block;
	float: left;
	margin: 0% 0 0% 5.6%;
	text-align: center;
	max-width: 287px;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3  p  {
	font-size: 0.85em;
	padding: 0.5em 0;
	color: #999;
	line-height: 1.8em;
}
.span_1_of_3 .btn-link{
	padding-top:10px;
}
.span_1_of_3 .btn-link a{
	color:#00aeff;
	cursor:pointer;
	font-size:0.85em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease!important;
	-moz-transition: all 0.2s ease!important;
	-o-transition: all 0.2s ease!important;
	transition: all 0.2s ease!important;
}
.span_1_of_3 .btn-link a:hover{
	color:#333;
}
.cssalogo{
    max-width: 50%;
	max-width;
}
@media (min-width:668px){
	.navbarlogo{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}.

.abouttest{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}