.h1 {
	font-size: 28px;
	font-weight: bold;
}

a:hover{
	text-decoration: none;
}

.my-title{
	margin-bottom:18px;
}

.my-post-content{
	margin-top:15px;
	font-size: 16px;
	line-height: 1.8em;
	overflow: hidden;
	height:165px;
}
