body{
	background-color: #f2f2f2;
	background-image: url('/public/images/noise.jpg');
	padding-bottom: 30px;
}

.center{
	font:italic arial,sans-serif;
	font-size:16px;
	margin:auto;
	width:70%;
}

#view_post_left_div .info{
	border-bottom: 2px dashed #428bca;
	padding-top: 10px;
	padding-bottom: 10px;
}

#view_post_left_div .info label{
	font-size: 20px;
}

#comments_div label{
	font-size: 20px !important;	
	margin-top: 10px;
	
}

#comments_div label{
	font-size:16px;	
}

