#{extends 'main.html'/}
#{set title:'关于学联'/}

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/about.css'}">
#{/set}

<h1>慕尼黑中国学生学者联合会</h1>
<h1>Chinese Students and Scholars Association Munich e.V.</h1>

<div id="content">
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-info-sign"></span>
		<span style="color: #428bca">&{'views.cssa.history'}</span><br><br>
		<span>&{'views.cssa.history.text1'}</span><br><br>
		<span>&{'views.cssa.history.text2'}</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list"></span>
		<span style="color: #428bca">&{'views.cssa.name'}</span><br><br>
		<span>&{'views.cssa.name.ch'}</span><br><br>
		<span>&{'views.cssa.name.de'}</span><br><br>
		<span>&{'views.cssa.name.en'}</span><br><br>
		<span style="color: #428bca">&{'views.cssa.shortname'}</span><br><br>
		<span>&{'views.cssa.shortname.ch'}</span><br><br>
		<span>&{'views.cssa.shortname.de'}</span><br><br>
		<span>&{'views.cssa.shortname.en'}</span><br><br>
		<span style="color: #428bca">&{'views.cssa.ziel'}</span><br><br>
		<span>&{'views.cssa.ziel.text'}</span><br>
		
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&{'views.cssa.struktur'}</span><br><br>
		<div align="center"><img src="/public/images/struktur.jpg" alt="1" width="800" border="0" /></div>
		<span>&{'views.cssa.struktur.text1'}</span><br><br>
		<span style="margin-left: 20px">&{'views.cssa.struktur.text2'}</span><br><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text3'}</span><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text4'}</span><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text5'}</span><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text6'}</span><br>
        <span style="margin-left: 50px">&{'views.cssa.struktur.text7'}</span><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text8'}</span><br>
		<span style="margin-left: 50px">&{'views.cssa.struktur.text9'}</span><br><br>
		<span style="margin-left: 20px">&{'views.cssa.struktur.text10'}</span><br><br>
		<span style="margin-left: 20px">&{'views.cssa.struktur.text11'}</span><br><br>
	</div>
    	<hr>
    	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span><a href="http://www.cssa-munich.de/public/vorstand.html" target="_blank">&nbsp&nbsp往届慕尼黑中国学生学者联合会执委会介绍</a></span>

		<!--backup
		<p><a href="http://www.cssa-munich.de/public/images/upload/%E5%BE%80%E5%B1%8A%E4%B8%AD%E5%9B%BD%E5%AD%A6%E7%94%9F%E5%AD%A6%E8%80%85%E8%81%94%E5%90%88%E4%BC%9A%E4%BB%8B%E7%BB%8D.pdf" target="_blank">点击查看</a></p>
		-->


		</div>
		<!--
    	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2013/2014届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在大家的关心和参与下，2013/14年度慕尼黑中国学生学者联合会会员大会于2013年12月14日下午顺利召开。学联主席唐彦首先进行了2012/13年度学联的全年工作总结和回顾，并进行了现场互动问答。其后进行了新一届慕尼黑学联的换届选举，并产生了2013/14年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械与管理专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">林迪航&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学景观建筑专业</span><br>
		<span style="margin-left: 50px">苗添豪&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造专业</span><br>
		<span style="margin-left: 50px">翟程远&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造专业</span><br>
		<span style="margin-left: 50px">黄&nbsp&nbsp&nbsp&nbsp晓&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学Biomedical Computing工程专业</span><br>
		<span style="margin-left: 50px">刘&nbsp&nbsp&nbsp&nbsp嵩&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造与管理专业</span><br>
		<span style="margin-left: 50px">朱房煦&nbsp&nbsp&nbsp&nbsp慕尼黑大学日耳曼文学专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动和切实的利益，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp现任2012/2013届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在大家的关心和参与下，2012/13年度慕尼黑中国学生学者联合会会员大会于2012年12月16日下午顺利召开。学联主席唐彦首先进行了2011/12年度学联的全年工作总结和回顾，并进行了现场互动问答。其后进行了新一届慕尼黑学联的换届选举，并产生了2012/13年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">林迪航&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学景观建筑专业</span><br>
		<span style="margin-left: 50px">马晓鹏&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电子工程与信息技术学院博士</span><br>
		<span style="margin-left: 50px">石登辉&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学计算机专业</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp楚&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电力能源工程专业</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp略&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学经济信息学专业</span><br>
		<span style="margin-left: 50px">翟程远&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械系机械工程专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动和切实的利益，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2011/2012届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>2011/2012年度慕尼黑中国学生学者联合会会员大会于2011年12月10日下午顺利召开，在2010/2011年度学联年度回顾后，进行了新一届慕尼黑学联的换届选举活动，并产生了2011/2012年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">郝学子&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学医疗设备专业</span><br>
		<span style="margin-left: 50px">李冰颖&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学可持续资源管理专业</span><br>
		<span style="margin-left: 50px">尚&nbsp&nbsp&nbsp&nbsp琦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学生物学专业</span><br>
		<span style="margin-left: 50px">石&nbsp&nbsp&nbsp&nbsp磊&nbsp&nbsp&nbsp&nbsp慕尼黑大学从事癌症致病机理研究</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp楚&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电力能源工程专业</span><br>
		<span style="margin-left: 50px">周曼妤&nbsp&nbsp&nbsp&nbsp慕尼黑造型艺术学院室内设计专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2009/2010届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在08/09届学联主席秦刚博士的学联工作回顾中，新一届学联的竞选活动拉开帷幕。这次选举通过在学联Mailing List以及在开元网上的宣传，得到了慕尼黑旅德学生的大力支持。选举之前就有一百余名位同学报名参加，选举现场也有许多对学联感兴趣的同学慕名而来。</span><br><br>
		<span>在秦刚博士的学联工作回顾之后，第一轮主席选举开始了。参选人共有四位，分别是李磊博士，唐彦，张云博士，王蓉。在经过了精彩的现场演讲以及回答观众问题的环节之后，投票活动正式开始，投票方式为无记名投票。在两名志愿者收集选票之后，在志愿者的监督下，唱票开始。这次投票共有有效选票105张，最终唐彦以61票当选为09/10届慕尼黑中国学生学者联合会主席。第二轮选举为执委会选举，经过计票程序之后，戴连攀博士，李磊博士，张云博士，王蓉当选为新一届学联的执委会成员。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span style="margin-left: 50px">戴连攀&nbsp&nbsp&nbsp&nbspHelmholtz慕尼黑中心病毒研究所 慕尼黑工业大学博士</span><br>
		<span style="margin-left: 50px">李&nbsp&nbsp&nbsp&nbsp磊&nbsp&nbsp&nbsp&nbsp慕尼黑西门子公司生产研究院博士</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp蓉&nbsp&nbsp&nbsp&nbsp慕尼黑大学德国文学，社会学，日耳曼文学专业</span><br>
		<span style="margin-left: 50px">张&nbsp&nbsp&nbsp&nbsp云&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学博士</span><br><br>
		<span>3. 新一届学联的目标：</span><br><br>
		<span>谨记三个代表重要思想，发扬五种革命精神。</span><br><br>
		<span>在新的一年里，全心为慕尼黑学子服务，让大家更有热情的参与到学联的活动中来。新一届学联不是几个人的学联，而是慕尼黑所有同学的学联。为了把自己的学联搞得有声有色，希望每一位同学都能踊跃参与到学联的活动中来，既锻炼了自己的组织能力，又能交到新的朋友，而且我们会以更开放的精神，欢迎每一位朋友的加入以及意见。我们会在之后陆续公布执委会成员的联系方式，如果大家有好的点子，有实际困难，可以直接的与我们联系，我们的邮箱是：chinese.muenchen@googlemail.com。大家齐心协力，来成就一个全新的学联！</span><br><br>
	</div>
-->
</div>
