#{extends 'main.html'/}
#{set title:'Post Stream'/}


#{set 'moreStyles'}
	<link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/postStream.less'}">
#{/set}

<style>
.center{
	font:italic arial,sans-serif;
	font-size:16px;
	margin:auto;
	width:70%;
	#background-color:#51629e;
}
</style>

<div id="my_post">
	<div class="center" >
	        <h3>活动列表</h3>
        	

            #{list items:posts, as:'onePost'}
                <div class="post" >                
                    <h2 class="post-title" >
                        <a href="@{ViewPost.page(onePost.id)}">${onePost.title}</a>
                    </h2>                    
                    <div>
						<span class="post-date"> Posted at: ${onePost.postingDate} </span>
					</div>

                    #{if onePost.content} 
					#{list items:onePost.content.picturesTitles, as:'picture'}
					<div class="post-image">
						<span type="text" class="postimage">
							${picture}
						</span>
					</div>
					#{/list}
					#{/if}
                    
                    <div class="post-metadata">
                        <span class="post-desc">
                            ${onePost.postContent.raw()}
                        </span>
                   
                        <span class="post-date">

                        </span>
                    </div>
                </div>
            #{/list}
            #{else}
			    <div class="empty">
			        No posts were published .
			    </div>
			#{/else}
        </div>
</div>

