#{extends 'main.html'/}
#{set title:'About Us'/}

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/about.css'}">
#{/set}

<h1>欢迎关注慕尼黑中国学生学者联合会！</h1>

<div id="content">
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-info-sign"></span>
		<span style="color: #428bca">&nbsp&nbsp慕尼黑中国学生学者联合会</span>
		<span>（Chinese Students and Scholars Association Munich e.V.，简称慕尼黑学联或CSSA Munich）是一个在慕尼黑法院注册成立的正式组织，面向在慕尼黑学习和工作的中国学生学者。在执委会及成员们的共同努力下，学联会致力于通过组织一系列广泛的活动为广大的学生、学者提供一个互相交流的平台，创造共同合作的机遇；同时，我们也为增进中、德以及国际学生之间沟通与融合而努力。此外，我们正逐步成为连结企业与中国人才的桥梁！我们欢迎更多的朋友加入我们的组织，也期待与更多的团体愉快合作！</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list"></span>
		<span style="color: #428bca">&nbsp&nbsp我们的组织结构:</span><br><br>
		<span>会员 -- 为了和德国当地法律相适应，从现在开始，学联实行会员制。也许你以前参加学联的活动并不需要是会员，但是今后我们的活动会越来越多地只对会员免费，众多优惠也只有会员才能享有。凡是在慕尼黑学习工作的学生学者，都可以通过网上报名的方式加入学联，而且你不用交纳会费。还犹豫什么，赶紧加入我们吧！会员有参加学联举办的各种活动及享受学联提供优惠的权利，有选举学联执委的权利。</span><br><br>
		<span>干事团 -- 参与组织学联的各项活动。</span><br><br>
		<span>执委会 -- 组织学联的各项活动，学联的执行机构。</span><br><br>
		<span>顾问团 -- 关心慕尼黑学联工作的各界非学生学者人士。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp现任2014/2015届学联执委会简介:</span><br><br>
		<span>1.选举情况介绍：</span><br><br>
		<span>2014/2015年度慕尼黑中国学生学者联合会（Chinese Students and Scholars Association Munich）简称『学联』）会员大会于2014年12月14日周日下午在慕尼黑工业大学（Technische Universität München）下属慕尼黑中心校区（Innenstadt-Campus）0602教室顺利召开，在听取了2013/2014届学联执委会主席唐彦所做的2013/2014届学联工作报告之后，通过激烈的换届竞选，产生了2014/2015届学联执委会。</span><br><br>
		<span>2.2014/2015届学联执委会成员简介：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">翟程远&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械系机械工程专业在读硕士</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">刘&nbsp&nbsp&nbsp&nbsp嵩&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造与管理专业在读硕士</span><br>
		<span style="margin-left: 50px">王楷中&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造与管理专业在读硕士</span><br>
		<span style="margin-left: 50px">吴&nbsp&nbsp&nbsp&nbsp薇&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学病理学专业在读博士</span><br>
		<span style="margin-left: 50px">张&nbsp&nbsp&nbsp&nbsp凯&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械与管理专业在读硕士</span><br>
        	<span style="margin-left: 50px">钟榆皓&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械工程专业在读硕士</span><br>
		<span style="margin-left: 50px">朱佳桢&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电子信息专业在读硕士</span><br><br>
		<span>3.2014/2015届学联执委会工作蓝图：</span><br><br>
		<span>在新的一年，学联在延续过去优良的传统之基础上，要进行针对学联执委会的系列改革，进一步强化学联的服务性质与公益性质，进一步提升学联执委会的专业化水平与业务水平，进一步提升学联作为地区重要平台的档次，将学联打造成一个高大上的平台。</span><br><br>
        	<span>在学联工作方面，着重推进学联各项工作的规范化与标准化、提升学联工作的专业化水平，并且通过对学联工作效率的提升，持续提高学联的业务能力与服务能力。</span><br><br>
        	<span>在平台建设方面，着重丰富学联所组织活动的种类、提升学联所组织活动的质量，针对慕尼黑华人学生学者社区不断壮大、需求种类与要求不断提升的发展新形势，展开适应于慕尼黑华人学生学者社区发展新形势的工作，继续服务好慕尼黑的华人学生学者。</span><br><br>
	</div>
    	<hr>
    	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2013/2014届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在大家的关心和参与下，2013/14年度慕尼黑中国学生学者联合会会员大会于2013年12月14日下午顺利召开。学联主席唐彦首先进行了2012/13年度学联的全年工作总结和回顾，并进行了现场互动问答。其后进行了新一届慕尼黑学联的换届选举，并产生了2013/14年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械与管理专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">林迪航&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学景观建筑专业</span><br>
		<span style="margin-left: 50px">苗添豪&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造专业</span><br>
		<span style="margin-left: 50px">翟程远&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造专业</span><br>
		<span style="margin-left: 50px">黄&nbsp&nbsp&nbsp&nbsp晓&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学Biomedical Computing工程专业</span><br>
		<span style="margin-left: 50px">刘&nbsp&nbsp&nbsp&nbsp嵩&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械制造与管理专业</span><br>
		<span style="margin-left: 50px">朱房煦&nbsp&nbsp&nbsp&nbsp慕尼黑大学日耳曼文学专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动和切实的利益，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp现任2012/2013届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在大家的关心和参与下，2012/13年度慕尼黑中国学生学者联合会会员大会于2012年12月16日下午顺利召开。学联主席唐彦首先进行了2011/12年度学联的全年工作总结和回顾，并进行了现场互动问答。其后进行了新一届慕尼黑学联的换届选举，并产生了2012/13年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">林迪航&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学景观建筑专业</span><br>
		<span style="margin-left: 50px">马晓鹏&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电子工程与信息技术学院博士</span><br>
		<span style="margin-left: 50px">石登辉&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学计算机专业</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp楚&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电力能源工程专业</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp略&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学经济信息学专业</span><br>
		<span style="margin-left: 50px">翟程远&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学机械系机械工程专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动和切实的利益，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2011/2012届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>2011/2012年度慕尼黑中国学生学者联合会会员大会于2011年12月10日下午顺利召开，在2010/2011年度学联年度回顾后，进行了新一届慕尼黑学联的换届选举活动，并产生了2011/2012年度新一届学联执委会。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span>主席：</span><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span>执委：</span><br>
		<span style="margin-left: 50px">郝学子&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学医疗设备专业</span><br>
		<span style="margin-left: 50px">李冰颖&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学可持续资源管理专业</span><br>
		<span style="margin-left: 50px">尚&nbsp&nbsp&nbsp&nbsp琦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学生物学专业</span><br>
		<span style="margin-left: 50px">石&nbsp&nbsp&nbsp&nbsp磊&nbsp&nbsp&nbsp&nbsp慕尼黑大学从事癌症致病机理研究</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp楚&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学电力能源工程专业</span><br>
		<span style="margin-left: 50px">周曼妤&nbsp&nbsp&nbsp&nbsp慕尼黑造型艺术学院室内设计专业</span><br><br>
		<span>新一届学联执委会将为大家带来更多精彩的活动，同时也欢迎大家踊跃参与到活动的组织中来。</span>
	</div>
	<hr>
	<div class="contentCell">
		<span style="color: #428bca" class="glyphicon glyphicon-list-alt"></span>
		<span style="color: #428bca">&nbsp&nbsp2009/2010届学联执委会简介:</span><br><br>
		<span>1. 选举情况介绍：</span><br><br>
		<span>在08/09届学联主席秦刚博士的学联工作回顾中，新一届学联的竞选活动拉开帷幕。这次选举通过在学联Mailing List以及在开元网上的宣传，得到了慕尼黑旅德学生的大力支持。选举之前就有一百余名位同学报名参加，选举现场也有许多对学联感兴趣的同学慕名而来。</span><br><br>
		<span>在秦刚博士的学联工作回顾之后，第一轮主席选举开始了。参选人共有四位，分别是李磊博士，唐彦，张云博士，王蓉。在经过了精彩的现场演讲以及回答观众问题的环节之后，投票活动正式开始，投票方式为无记名投票。在两名志愿者收集选票之后，在志愿者的监督下，唱票开始。这次投票共有有效选票105张，最终唐彦以61票当选为09/10届慕尼黑中国学生学者联合会主席。第二轮选举为执委会选举，经过计票程序之后，戴连攀博士，李磊博士，张云博士，王蓉当选为新一届学联的执委会成员。</span><br><br>
		<span>2. 新一届学联执委会成员介绍：</span><br><br>
		<span style="margin-left: 50px">唐&nbsp&nbsp&nbsp&nbsp彦&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学汽车制造专业</span><br>
		<span style="margin-left: 50px">戴连攀&nbsp&nbsp&nbsp&nbspHelmholtz慕尼黑中心病毒研究所 慕尼黑工业大学博士</span><br>
		<span style="margin-left: 50px">李&nbsp&nbsp&nbsp&nbsp磊&nbsp&nbsp&nbsp&nbsp慕尼黑西门子公司生产研究院博士</span><br>
		<span style="margin-left: 50px">王&nbsp&nbsp&nbsp&nbsp蓉&nbsp&nbsp&nbsp&nbsp慕尼黑大学德国文学，社会学，日耳曼文学专业</span><br>
		<span style="margin-left: 50px">张&nbsp&nbsp&nbsp&nbsp云&nbsp&nbsp&nbsp&nbsp慕尼黑工业大学博士</span><br><br>
		<span>3. 新一届学联的目标：</span><br><br>
		<span>谨记三个代表重要思想，发扬五种革命精神。</span><br><br>
		<span>在新的一年里，全心为慕尼黑学子服务，让大家更有热情的参与到学联的活动中来。新一届学联不是几个人的学联，而是慕尼黑所有同学的学联。为了把自己的学联搞得有声有色，希望每一位同学都能踊跃参与到学联的活动中来，既锻炼了自己的组织能力，又能交到新的朋友，而且我们会以更开放的精神，欢迎每一位朋友的加入以及意见。我们会在之后陆续公布执委会成员的联系方式，如果大家有好的点子，有实际困难，可以直接的与我们联系，我们的邮箱是：chinese.muenchen@googlemail.com。大家齐心协力，来成就一个全新的学联！</span><br><br>
	</div>
</div>
