#{extends 'main.html' /} #{set title:'慕尼黑中国学生学者联合会' /}


<!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-40">
      <div class="fullwidthbanner-container revolution-slider">
        <div class="fullwidthabnner">
          <ul id="revolutionul">

            <!-- THE SECOND SLIDE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="public/images/sliderimg/revolutionslider/thumbs/thumb2.jpg">                        
              <img src="/public/images/chunwan/desktop.png" alt="">
              <!--<div class="caption lfl slide_title slide_item_left"
                data-x="30"
                data-y="125"
                data-speed="400"
                data-start="3500"
                data-easing="easeOutExpo">
                Powerfull &amp; Clean
              </div>
              <div class="caption lfl slide_subtitle slide_item_left"
                data-x="30"
                data-y="200"
                data-speed="400"
                data-start="4000"
                data-easing="easeOutExpo">
                Responsive Admin &amp; Website Theme
              </div>
              <div class="caption lfl slide_desc slide_item_left"
                data-x="30"
                data-y="245"
                data-speed="400"
                data-start="4500"
                data-easing="easeOutExpo">
                Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
              </div>                        
              <div class="caption lfr slide_item_right" 
                data-x="635" 
                data-y="105" 
                data-speed="1200" 
                data-start="1500" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/mac.png" alt="Image 1">
              </div>
              <div class="caption lfr slide_item_right" 
                data-x="580" 
                data-y="245" 
                data-speed="1200" 
                data-start="2000" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/ipad.png" alt="Image 1">
              </div>
              <div class="caption lfr slide_item_right" 
                data-x="735" 
                data-y="290" 
                data-speed="1200" 
                data-start="2500" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/iphone.png" alt="Image 1">
              </div>
              <div class="caption lfr slide_item_right" 
                data-x="835" 
                data-y="230" 
                data-speed="1200" 
                data-start="3000" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/macbook.png" alt="Image 1">
              </div>
              <div class="caption lft slide_item_right" 
                data-x="865" 
                data-y="45" 
                data-speed="500" 
                data-start="5000" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/hint1-red.png" id="rev-hint1" alt="Image 1">
              </div>                        
              <div class="caption lfb slide_item_right" 
                data-x="355" 
                data-y="355" 
                data-speed="500" 
                data-start="5500" 
                data-easing="easeOutBack">
                <img src="public/images/sliderimg/revolutionslider/hint2-red.png" id="rev-hint2" alt="Image 1">
              </div>-->
            </li>
          <!-- THE NEW SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/images/sliderimg/revolutionslider/thumbs/thumb2.jpg">



              <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
               <!-- bg 背景 -->
              <img src="/public/images/09.jpg" alt="">
              
              <div class="caption lft slide_title_white slide_item_left"
                data-x="67"
                data-y="90"
                data-speed="400"
                data-start="1500"
                data-easing="easeOutExpo">
                慕尼黑学联
<br><span class="slide_title_white_bold">WS2015迎新之夜
</span>
              </div>
              <div class="caption lft slide_subtitle_white slide_item_left"
                data-x="87"
                data-y="245"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">Sonntag, 25. Oktober 2015 </br>von 18:00 Uhr bis 23:00 Uhr (MEZ)
                

              </div>
              <a class="caption lft btn dark slide_btn slide_item_left" href="http://www.cssa-munich.de/viewEvent?eventId=344"
                data-x="187"
                data-y="330"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                点击报名！
              </a>                        
              <!--<div class="caption lfb"
                data-x="640" 
                data-y="0" 
                data-speed="700" 
                data-start="1000" 
                data-easing="easeOutExpo">
                <img src="public/images/sliderimg/revolutionslider/lady.png" alt="Image 1">
              </div>-->
            </li>    
          <!-- THE THIRD SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/images/sliderimg/revolutionslider/thumbs/thumb2.jpg">
              <img src="/public/images/20.jpg" alt="">     

              <!--CI
              <div class="caption lft slide_title slide_item_left"
                data-x="30"
                data-y="105"
                data-speed="400"
                data-start="1500"
                data-easing="easeOutExpo">
                2015高层次讲座系列
              </div>
              <div class="caption lft slide_title slide_item_left"
                data-x="30"
                data-y="180"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                就业在德国
              </div>
              <div class="slide_title slide_item_left"
                data-x="30"
                data-y="220"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                2015年11月20日星期五<br> 下午17:00
              </div>
              <a class="caption lft btn green slide_btn slide_item_left" href="http://www.cssa-munich.de/viewEvent?eventId=363"
                data-x="30"
                data-y="290"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                点击报名!
              </a> 
              -->                       
              </li>

              <!--END-->

                             <!--<div class="caption dark slide_subtitle"
                                 data-x="30"
                                 data-y="105"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 你有听到小牛排在铁盘上滋滋作响嘛！
                            </div>
                            <div class="caption lft slide_subtitle"
                                 data-x="30"
                                 data-y="180"
                                 data-speed="300"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 你有闻到烤叉上的叉烧肉诱人的香气嘛！
                            </div>
                            <div class="caption lft slide_subtitle"
                                 data-x="30"
                                 data-y="225"
                                 data-speed="300"
                                 data-start="3500"
                                 data-easing="easeOutExpo">
                                 你有看到鸡翅膀在……  啊！！你有看到鸡翅膀被谁吃掉了嘛！！
                            </div>
                            <a class="caption lft slide_btn btn red slide_item_left" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank" 
                                 data-x="30"
                                 data-y="300"
                                 data-speed="600"
                                 data-start="5000"
                                 data-easing="easeInOutBack">
                                 点我点我!
                            </a>              
              <div class="caption lfl slide_item_left" 
                data-x="30" 
                data-y="95" 
                data-speed="400" 
                data-start="1500" 
                data-easing="easeOutBack">
                <iframe src="http://player.vimeo.com/video/56974716?portrait=0" width="420" height="240" style="border:0" allowFullScreen></iframe> 
              </div>
              <div class="caption lfr slide_title"
                data-x="470"
                data-y="100"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                Responsive Video Support
              </div>
              <div class="caption lfr slide_subtitle"
                data-x="470"
                data-y="170"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                Youtube, Vimeo and others.
              </div>
              <div class="caption lfr slide_desc"
                data-x="470"
                data-y="220"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
              </div>
              <a class="caption lfr btn yellow slide_btn" href=""
                data-x="470"
                data-y="280"
                                 data-speed="400"
                                 data-start="3500"
                                 data-easing="easeOutExpo">
                                 Watch more Videos!
                            </a>-->
                        </li>                    

          <!-- THE FORTH SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/images/sliderimg/revolutionslider/thumbs/thumb2.jpg">
                          
                        <a href="http://www.cssa-munich.de/viewPost?postId=359"><img src="/public/images/10.jpg" alt=""></a>   
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                      
                            <!--<div class="caption lft start"  
                                 data-x="670" 
                                 data-y="55" 
                                 data-speed="400" 
                                 data-start="2000" 
                                 data-easing="easeOutBack"  >
                                 <img src="public/images/sliderimg/revolutionslider/iphone_left.png" alt="Image 2">
                            </div>
                            
                            <div class="caption lft start"  
                                 data-x="850" 
                                 data-y="55" 
                                 data-speed="400" 
                                 data-start="2400" 
                                 data-easing="easeOutBack"  >
                                 <img src="public/images/sliderimg/revolutionslider/iphone_right.png" alt="Image 3">
                            </div>   -->                 
                        </li>
          
            
            
                        
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="public/images/sliderimg/revolutionslider/thumbs/thumb2.jpg">
              <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
              <img src="/public/images/06.jpg" alt="">
                            
              <!--<div class="caption lft slide_title slide_item_left"
                data-x="30"
                data-y="105"
                data-speed="400"
                data-start="1500"
                data-easing="easeOutExpo">
                Need a website design? 
              </div>
              <div class="caption lft slide_subtitle slide_item_left"
                data-x="30"
                data-y="180"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                This is what you were looking for
              </div>
              <div class="caption lft slide_desc slide_item_left"
                data-x="30"
                data-y="220"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                Lorem ipsum dolor sit amet, dolore eiusmod<br> quis tempor incididunt. Sed unde omnis iste.
              </div>
              <a class="caption lft btn green slide_btn slide_item_left" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
                data-x="30"
                data-y="290"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                Purchase Now!
              </a>                        
              <div class="caption lfb"
                data-x="640" 
                data-y="55" 
                data-speed="700" 
                data-start="1000" 
                data-easing="easeOutExpo">
                <img src="public/images/sliderimg/revolutionslider/man-winner.png" alt="Image 1">
              </div>-->
            </li>

          
                   
            
                        
                        
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->


<div class="main">
  <div class="container">
    <!-- BEGIN SERVICE BOX -->   
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
          <em><i class="fa fa-th-large blue"></i></em>
          <a href="/postStream/page?size=4&page=1"><span>&{'index.news'}</span></a>
        </div>
        <p>&{'index.news.text'}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
          <em><i class="fa fa-th-list red"></i></em>
          <a href="/eventStream/page?size=4&page=1"><span>&{'index.event'}</span></a>
        </div>
        <p>&{'index.event.text'}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
          <em><i class="fa fa-users green"></i></em>
          <a href="/About/page"><span>&{'index.cssam'}</span></a>
        </div>
        <p>&{'index.cssam.text'}</p>
      </div>
    </div>
  </div>
</div>  