#{extends 'main.html' /} #{set title:'慕尼黑中国学生学者联合会' /}

#{if promote_login==true}
<div class="alert alert-warning alert-dismissible" align="center" role="alert" style="width:1024px; margin:10px auto">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Please login first to check the events page</strong>
</div>

#{/if}

<div class="slides_container">
	<div id="focus">
		<ul>
			<li><a href="http://test.cssa-munich.de/viewPost?postId=20" target="_blank"><img
					src="/public/images/01.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/02.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/03.jpg" /></a></li>
			<li><a href="http://test.cssa-munich.de/viewPost?postId=60" target="_blank"><img
					src="/public/images/04.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/05.jpg" /></a></li>
		</ul>
	</div>
</div>

<div class="row block_container">
	<div class="col-sm-6 col-md-3 nailleft">
		<div class="thumbnail">
			<h3>学联活动</h3>
				<img class="middle" src="/public/images/Events.jpg" width="310" height="270">
			<div class="caption">
				<p>
					<a href="/eventStream/page?size=10&page=1" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 nail">
		<div class="thumbnail">
			<h3>学联新闻</h3>
			<img class="middle" src="/public/images/News.jpg">
			<div class="caption">
				<p>
					<a href="/postStream/page?size=10&page=1" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 nailright">
		<div class="thumbnail">
			<h3>学联攻略</h3>
			<img class="middle" src="/public/images/wiki.jpg">
			<div class="caption">
				<p>
					<a href="/Download/page" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
</div>

<!--  
 <div class="inner-col" align="center">
 	<h1 align="center">我们的重要合作伙伴</h1>
 	</br>
 </div>

<div class="row partner_container">
	<div class="col-xs-6 col-md-3">
		<a href="http://munich.china-consulate.org/chn/">
			<img class="china" src="/public/images/partner/china.png" alt="AIA logo" width="190" height="101" />
			<span style="margin-top: 1px;">中国驻慕尼黑总领事馆</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://www.kaiyuan.de/">
			<img class="kaiyuan" src="/public/images/partner/kaiyuan.png" alt="AIA logo"width="190" height="101" />
			<span style="margin-top: 10px;">德国开元网</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://www.gerig-wealth.com/">
			<img class="gerig" src="/public/images/partner/gerig.png" alt="AIA logo"width="190" height="101" />
			<span>德国格瑞阁理财</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://konfuzius-muenchen.de/">
			<img class="kksim" src="/public/images/partner/kksim.png" alt="AIA logo"width="190" height="101" />
			<span>慕尼黑孔子课堂</span>
		</a>
	</div>
</div>
<div class="row partner_container" style="margin-top:10px;">
	<div class="col-xs-6 col-md-3" style="margin-top:40px;">
		<a href="http://www.erich-paulun-institut.de/de/startseite">
			<img class="epi" src="/public/images/partner/epi.png" alt="AIA logo"width="190" height="101" />
			<span style="margin-top:20px;">埃里希宝隆学院</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="http://www.international.tum.de/willkommen-an-der-tum/internationale-austauschstudierende/tuminternational/">
			<img class="tumi" src="/public/images/partner/tumi.png" alt="AIA logo"width="190" height="101" />
			<span style="margin-top:1px;">TUMinternational</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3" style="margin-top:25px;">
		<a href="http://www.tutoria-lmu.de/">
			<img class="tutoria" src="/public/images/partner/tutoria.png" alt="AIA logo"width="190" height="101" />
			<span style="margin-top:14px;">TutoRIA LMU</span>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="https://www.xing.com/communities/groups/deutsch-chinesische-gesellschaft-muenchen-1063129">
			<img class="dcgm" src="/public/images/partner/dcgm.png" alt="AIA logo"width="190" height="101" />
			<span style="margin-top:2px;">慕尼黑德中友协</span>
		</a>
	</div>
</div>
-->