#{extends 'main.html' /} #{set title:'慕尼黑中国学生学者联合会' /}

#{if promote_login==true}
<div class="alert alert-warning alert-dismissible" align="center" role="alert" style="width:1024px; margin:10px auto">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Please login first to check the events page</strong>
</div>

#{/if}

<div class="slides_container">
	<div id="focus">
		<ul>
			<li><a href="http://test.cssa-munich.de/viewPost?postId=20" target="_blank"><img
					src="/public/images/01.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/02.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/03.jpg" /></a></li>
			<li><a href="http://test.cssa-munich.de/viewPost?postId=60" target="_blank"><img
					src="/public/images/04.jpg" /></a></li>
			<li><a href="#" target="_blank"><img
					src="/public/images/05.jpg" /></a></li>
		</ul>
	</div>
</div>

<div class="row block_container">
	<div class="col-sm-6 col-md-3 nailleft">
		<div class="thumbnail">
			<h3>学联活动</h3>
				<img class="middle" src="/public/images/upload/test1.jpg" width="310" height="270">
			<div class="caption">
				<p>
					<a href="/eventStream/page?size=10&page=1" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 nail">
		<div class="thumbnail">
			<h3>学联新闻</h3>
			<img class="middle" src="/public/images/upload/test2.jpg">
			<div class="caption">
				<p>
					<a href="/postStream/page?size=10&page=1" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 nailright">
		<div class="thumbnail">
			<h3>学联攻略</h3>
			<img class="middle" src="/public/images/upload/test3.jpg">
			<div class="caption">
				<p>
					<a href="/Download/page" class="btn btn-primary" role="button">了解更多..</a>
				</p>
			</div>
		</div>
	</div>
</div>
