<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-theme.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-theme.min.css'}">
        
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/index.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">

        
        #{get 'moreScripts' /}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR5BqFaXKB9kYMEwy4xzFvuyMEX_P6IPU&sensor=false&language=en"></script>
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        <script src="@{'/public/javascripts/index.js'}" type="text/javascript" charset="${_response_encoding}"></script>        
    
    <!-- Jeff added the following -->
    	<!-- jquery -->
		<script src="@{'/public/javascripts/jquery-2.1.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		
		<!-- moment js -->
		<script src="@{'/public/javascripts/moment-with-locales.min.js'}" charset="${_response_encoding}" type="text/javascript"></script>
		
		<!-- datetime picker js -->
		<script src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}" charset="${_response_encoding}" type="text/javascript"></script>
		
		<!-- datepicker css -->
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-datetimepicker.min.css'}" />
		
		<!-- self-defined pagination -->
		<script src="@{'/public/javascripts/pagination.js'}" charset="${_response_encoding}" type="text/javascript"></script>
		
	<!-- End of Jeff -->	
    
    
    </head>
    <body>
    	<nav class="navbar navbar-primary" role="navigation">
  			<div class="container-fluid topbar">
    			<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header ">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
       					<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/">主页</a>
    			</div>

    			<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse minindex" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav">        				
	      				<li id="post" class="post"><a href="/postStream/page?size=10&page=1">新闻</a></li>
        				<li id="event" class="event"><a href="/eventStream/page?size=10&page=1">活动</a></li>
        				<li id="download"><a href="/Download/page">下载</a></li>
        				<li id="wiki"><a href="http://www.cssa-munich.de:8088/dokuwiki">新生指南</a></li>
        				<li id="about"><a href="/About/page">关于学联</a></li>
        
      				</ul>
      				    				
      				<form class="navbar-form navbar-left"  role="form" action="https://www.google.com/search">
						<div class="input-group">
						<input type="hidden" name="sitesearch" value="www.cssa-munich.de">
						<input type="text" name="as_q" class="form-control" placeholder="Search">
						
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit" value="Go" title="搜索">
						搜索&nbsp&nbsp
						<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
						</div>
					</form>
							#{if flag_login}
							<ul class="nav navbar-nav navbar-right">
								<li ><a href="/myProfile">欢迎, ${email}</a></li>
        						<li ><a href="/Secure/logout">登出</a></li>
      						</ul>
							#{/if}
							#{else}
      				<ul class="nav navbar-nav navbar-right">
       					<li id="registerButton"><a href="#">注册</a></li>
        				<li id="loginButton"><a href="#">登录</a></li>
      				</ul>
							#{/else}
    			</div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
 		</nav>
 		
 		
 		
        #{doLayout /}
        <div id="loginForm">

	<form action="@{Secure.authenticate()}" class="form-horizontal" method="post" role="form">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
			<div class="col-sm-9">
				<input name="username" type="text" class="form-control" id="inputEmail3"
					placeholder="Email or Username">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
			<div class="col-sm-9">
				<input name="password" type="password" class="form-control" id="inputPassword3"
					placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox"> 记住我
					</label>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary dis submitLogin">登录</button>
		<button type="button" class="btn btn-primary dis returnLogin">返回</button>
	</form>
</div>


<div id="registerForm">
    #{form @Register.register(), id:'navigation_bar_register_form', class:'form-horizontal'}
    <!--
	<form action="@{Register.register()}" class="form-horizontal" method="post" role="form">
    -->
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
			<div class="col-sm-9">
				<input name="email" type="email" class="form-control" id="inputEmail3"
					placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
			<div class="col-sm-9">
				<input name="password" type="password" class="form-control" id="inputPassword3"
					placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">确认密码</label>
			<div class="col-sm-9">
				<input name="password2" type="password" class="form-control" id="inputPassword3"
					placeholder="Password Twice">
			</div>
		</div>
		<button type="submit" class="btn btn-primary dis submitRegister">注册</button>
		<button type="button" class="btn btn-primary dis returnRegister">返回</button>
    #{/form}
</div>
        <div class="footer" style="margin-top:200px;">
			<div id="reference">
				<div id="row">
					<li><h3>合作伙伴:</h3></li>
						<a href="http://munich.china-consulate.org/chn/">中国驻慕尼黑总领事馆</a><br>
						<a href="http://www.kaiyuan.de/">德国开元网</a><br>
						<a href="http://www.gerig-wealth.com/">德国格瑞阁理财</a><br>
						<a href="http://konfuzius-muenchen.de/">慕尼黑孔子课堂</a><br>
						<a href="http://www.erich-paulun-institut.de/de/startseite">埃里希宝隆学院</a><br>
						<a href="http://www.international.tum.de/willkommen-an-der-tum/internationale-austauschstudierende/tuminternational/">TUMinternational</a><br>
						<a href="http://www.tutoria-lmu.de/">TutoRIA LMU</a><br>
						<a href="https://www.xing.com/communities/groups/deutsch-chinesische-gesellschaft-muenchen-1063129">慕尼黑德中友协</a><br>
				</div>
				<div id="row">
					<ul>
						<li><h3>联系我们:</h3></li>
						<a href="mailto:chinese.muenchen@gmail.com">chinese.muenchen@gmail.com</a>
						<li><h3>技术支持:</h3></li>
						<a href="mailto:support@cssa-munich.de">support@cssa-munich.de</a>
					</ul>
				</div>
				<div id="row">
					<ul>
						<li><h3>关注学联:</h3></li>
						<a href="http://www.weibo.com/cssamunich">慕尼黑学联weibo主页</a><br>
						<a href="http://page.renren.com/601326255?checked=true">慕尼黑学联人人主页</a><br>
						<a href="https://www.facebook.com/pages/CSSA-in-Munich-eV/334763784624">慕尼黑学联facebook主页</a><br>
						<a href="https://sites.google.com/a/cssa-munich.de/cssa/">学联工作平台</a><br>
						<a href="/admin/main">管理员</a>
					</ul>
				</div>
			</div>
		</div>
		
		
 #{if register}
	#{if flag_register}
	<div class="Alert">
		<div class="alertMessage">&nbsp;&nbsp;注册成功！</div>
		<button type="button" class="btn btn-primary returnAlert">确认</button>
	</div>
	#{/if}
	#{else}
	<div class="Alert">
		<div class="alertMessage">邮箱已被注册！</div>
		<button type="button" class="btn btn-primary returnAlert">确认</button>
	</div>
	#{/else}
#{/if}

#{if flag_twice}
	<div class="Alert">
		<div class="alertMessage">密码和确认密码不一致！</div>
		<button type="button" class="btn btn-primary returnAlert">确认</button>
	</div>
#{/if}

#{if wrongPW}
<div class="Alert">
	<div class="alertMessage">&nbsp;&nbsp;密码错误,请重新输入！</div>
	<button type="button" class="btn btn-primary returnAlert">确认</button>
</div>
#{/if}
        
 
 <!-- TODO Must not be present everywhere, only when showing post & comments -->
	<script type="text/javascript">  var disqus_developer = 1; </script> 
	<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/elsewhere/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	
	
	$(document).ready(function(){
		var title = $("title").text();
		if(title == "学联活动"){
			$("li#event").attr("style","background-color:#f0f0f0;");
			$("li#post").attr("style","background-color:#ffffff;");
		}else if(title == "学联新闻"){
			$("li#post").attr("style","background-color:#f0f0f0;");
		}else if(title == "下载"){
			$("li#download").attr("style","background-color:#f0f0f0;");
		}else if(title == "关于学联"){
			$("li#about").attr("style","background-color:#f0f0f0;");
		}
	});
	
	</script>
	
    </body>
</html>
